@model RepairshopWeb.Data.Entities.Service

@{
    ViewData["Title"] = "Create new service";
}
<br />
<br />
<br />
<h1 style="text-align: center;"><b>NEW SERVICE</b></h1>
<br />
<div class="row">
    <div class="col-md-4 offset-md-4"d-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <ejs-maskedtextbox asp-for="Description" id="description" placeholder="Description" floatLabelType="Auto"></ejs-maskedtextbox>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
               <ejs-maskedtextbox asp-for="RepairPrice" id="repairprice" placeholder="Repair Price" floatLabelType="Auto"></ejs-maskedtextbox>
                <span asp-validation-for="RepairPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary"><i class="fa-solid fa-user-plus"></i></button>
                <a asp-action="Index" class="btn btn-success"><i class="fa-solid fa-angles-left"></i> Back</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
