@model RepairshopWeb.Data.Entities.Billing

@{
    ViewData["Title"] = "Create new billing";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<br />
<h1 style="text-align: center;"><b>NEW BILLING</b></h1>
<br />
<div class="row">
    <div class="col-md-4 offset-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RepairOrderId" style="font-family: Arial; font-size:small;"></label>
                <select asp-for="RepairOrderId" asp-items="ViewBag.RepairOrderId" style="width:100%; font-family: Arial; height: 30px"></select>
                <span asp-validation-for="RepairOrderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentMethod" style="font-family: Arial; font-size:small;" class="control-label"></label>
                <select asp-for="PaymentMethod" class="form-control">
                    <option selected disabled>(Select the Payment Method...)</option>
                    <option value="Cash">Cash</option>
                    <option value="Debit/Credit cards">Debit/Credit cards</option>
                    <option value="Bank Transfer">Bank Transfer</option>
                    <option value="MB WAY ">MB WAY </option>
                </select>
                <span asp-validation-for="PaymentMethod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" data-toggle="tooltip" title="Save"><i class="fa-regular fa-floppy-disk"></i></button>
                <a asp-action="Index" class="btn btn-success"><i class="fa-solid fa-angles-left"></i> Back</a>
            </div>
        </form>
    </div>
</div>
<br />

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    @{
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">

        <script>
            $(function() {
                $("#datepicker").datetimepicker(
                    {
                        showClose: true,
                        sideBySide: true,
                        showClear: true,
                        format: 'DD-MM-YYYY HH:mm',

                        locale: moment.locale('pt-Pt')

                    });

                $("#datepicker2").datetimepicker(
                    {
                        showClose: true,
                        sideBySide: true,
                        showClear: true,
                        format: 'DD-MM-YYYY HH:mm',

                        locale: moment.locale('pt-Pt')

                    });
            });
        </script>
    }
    }

