<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Repairshop</title>
    <!-- bootstrap css -->
    <link rel="stylesheet" href="~/WebApplication/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/WebApplication/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/WebApplicationlib/bootstrap-datepicker/css/bootstrap-datepicker.min.css" />
    <link rel="stylesheet" href="~/WebApplication/lib/bootstrap-timepicker/css/bootstrap-timepicker.min.css" />
    <!-- font-awesome -->
    <link rel="stylesheet" href="~/WebApplication/lib/font-awesome/css/all.min.css" />
    <!-- style css -->
    <link rel="stylesheet" href="~/WebApplication/css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="~/WebApplication/css/responsive.css">
    <!-- fevicon -->
    <link href="~/WebApplication/images/logo.png" rel="shortcut icon" type="image/gif" />
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="~/WebApplication/css/owl.carousel.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://rawgit.com/LeshikJanz/libraries/master/Bootstrap/baguetteBox.min.css">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
    <!-- Syncfusion ASP.NET Core controls styles -->
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/20.2.43/fluent.css" />
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/20.3.47/fluent.css" />
    <!-- Syncfusion ASP.NET Core controls scripts -->
    <script src="https://cdn.syncfusion.com/ej2/20.2.43/dist/ej2.min.js"></script>
    <!-- Font Error Page  -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:500,800" rel="stylesheet">
</head>

<!-- body -->
<body class="main-layout">

    <!-- loader  -->
    <div class="loader_bg">
        <div class="loader"><img src="~/images/loading.gif" alt="#" /></div>
    </div>
    <!-- end loader -->

    <!-- sidepanel -->
    <div id="mySidepanel" class="sidepanel">
        <a class="closebtn" onclick="closeNav()" style="color:white;">×</a>

        <a class="active" asp-area="" asp-controller="Home" asp-action="Index">Home</a>

        @if (!User.Identity.IsAuthenticated)
        {
            <a href="#services">Our Services</a>
            <a href="#contact_us">Contact us</a>
            <a href="#about">About</a>
            <a asp-area="" asp-controller="Account" asp-action="Login">Login</a>
        }

        @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Client"))
        {
            <br />
            <a asp-area="" asp-controller="RepairOrders" asp-action="Index">My Repairs</a>
            <br />
            <a class="active" asp-area="" asp-controller="Account" asp-action="ChangeUser">My Account</a>
            <a class="active" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
        }

        @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Admin") || this.User.IsInRole("Mechanic") || this.User.IsInRole("Receptionist"))
        {
            <a asp-area="" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
            <a class="active" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
        }
    </div>
    <!-- end sidepanel -->

    <!-- header -->
    <header class="header-area" id="home">
        <div class="container-fluid">
            <div class="row d_flex">
                <div class=" col-md-3 col-sm-3">
                    <div class="logo">
                        <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/WebApplication/images/logo.png" alt="#" /></a>
                    </div>
                </div>
                <div class="col-md-7 di_none">
                    <ul class="Informa_conta">
                        <li><a asp-area="" asp-controller="Account" asp-action="ChangeUser" style="color: #656c9a; font-size:larger;">@this.User.Identity.Name</a></li>
                    </ul>
                </div>
                <div class="col-xl-2 col-md-9 col-sm-9">
                    <ul class="email text_align_right">
                        <li> <button class="openbtn" onclick="openNav()"><img src="~/WebApplication/images/menu_btn.png"></button></li>
                    </ul>
                </div>

            </div>
        </div>
    </header>
    <!-- end header -->

    <!--- RenderBody-->
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <!---------------->

    <!-- footer -->
    <footer>
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="footer_logo">
                            <img src="~/WebApplication/images/logo_foter.png">
                        </a>
                    </div>
                    <div class="col-md-12">
                        <ul class="menu_footer">
                            <li><a href="#home">Home</a></li>
                            <li><a href="#services">Our Services</a></li>
                            <li><a href="#contact_us">Contact us</a></li>
                            <li><a href="#about">About</a></li>
                        </ul>
                    </div>
                    <div class="col-md-12">
                        <ul class="top_infomation">
                            <li style="color: white"><b>WORK SCHEDULE</b><br />From Monday to Friday<br />08:00 - 18:00</li>
                            <li style="color: white"><b>ADDRESS</b><br />Rua Domingos Paiva, 44<br />2363-321 Lisboa</li>
                            <li style="color: white"><b>PHONE</b><br />+351 938372827</li>
                            <li style="color: white"><b>E-MAIL</b><br />cet69.repairshop@gmail.com</li>
                        </ul>
                        <br />
                        <br />
                        <ul class="top_infomation">
                            <li> <a style="color:white;"><i class="fa fa-phone" aria-hidden="true"></i>+351 987654321</a></li>
                            <li> <a href="https://www.cinel.pt/appv2" target="_blank"><i class="fa fa-map-marker" aria-hidden="true"></i> CINEL</a></li>
                            <li> <a style="color:white;"><i class="fa fa-envelope" aria-hidden="true"></i> avelar.dbr@gmail.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <br />
            <div class="copyright">
                <div class="container">
                    <div class="row d_flex">
                        <div class="col-md-8">
                            <p>© 2022 All Rights Reserved.  <a href="https://html.design/" target="_blank"> Free html Templates</a></p>
                        </div>
                        <div class="col-md-4">
                            <ul class="social_icon text_align_center">
                                <li> <a href="https://github.com/beeavelar" target="_blank"><i class="fa fa-github-square"></i></a></li>
                                <li> <a href="https://www.linkedin.com/in/d%C3%A9bora-avelar/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer -->

    <!-- Javascript files-->
    <script src="~/WebApplication/js/jquery.min.js"></script>
    <script src="~/WebApplication/js/bootstrap.bundle.min.js"></script>
    <script src="~/WebApplication/js/jquery-3.0.0.min.js"></script>
    <script src="~/WebApplication/js/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
    <script src="~/WebApplication/js/custom.js"></script>
    <script src="https://kit.fontawesome.com/838122fc3c.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <!-- end Javascript files-->

    <!-- Syncfusion Script Manager -->
    <ejs-scripts></ejs-scripts>
    <!-- end Syncfusion Script Manager -->

</body>
<!-- end body -->
</html>