
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>

<p>RepairShop Web Application</p>
<p>Construction date: DD-MM-YYYY</p>
<p>Web application developed by: Débora Avelar</p>
<img src="~/images/debora.png"/>



