@{
    ViewData["Title"] = "About";
}

<div class="customers">
    <div class="clients_bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="titlepage text_align_center">
                        <h2><img src="~/images/heading.png" alt="#" />About</h2>
                    </div>
                    <br />
                    <div class="titlepage text_align_center">
                        <p style="color: black; font-size:x-large">The objective of this project was to create an ASP.NET Core Web Application (Model-View-Controller) of an information system for an auto repair shop.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card" style="width: 18rem; margin-left: 400px;">
        <img class="card-img-top" src="~/images/debora.png" alt="Card image cap">
        <div class="card-body">
            <h3 class="card-title"><strong>Débora Avelar</strong></h3>
            <h3 class="card-title">CET</h3>
            <h3 class="card-text">Version 1.0</h3>
            <ul class="social_icon text_align_center">
                <li> <a href="https://github.com/beeavelar" target="_blank"><i class="fa fa-github-square"></i></a></li>
                <li> <a href="https://www.linkedin.com/in/d%C3%A9bora-avelar/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
</div>