@{
    ViewData["Title"] = "Home Page";
}

<!-- banner -->
<div class="full_bg">
    <div class="container_width">
        <div class="row">
            <div class="col-md-5">
                <div class="ser_img">
                    <figure><img src="images/imf.png" alt="#" /></figure>
                </div>
            </div>
            <div class="col-md-7" id="about">
                <!-- carousel code -->
                <div id="banner1" class="carousel slide slider_main">
                    <ol class="carousel-indicators">
                        <li data-target="#banner1" data-slide-to="0" class="active">q</li>
                        <li data-target="#banner1" data-slide-to="1">q</li>
                        <li data-target="#banner1" data-slide-to="2">q</li>
                    </ol>
                    <div class="carousel-inner">
                        <!-- first slide -->
                        <div class="carousel-item active">
                            <div class="container">
                                <div class="carousel-caption relative">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="creative">
                                                <div class="auto_text">
                                                    <h1>WHO <br>WE ARE?</h1>
                                                    <p style="font-size: 18px;"><b>We are a team of knowledgeable and responsible professionals, whose policy is to provide a high quality service and personalized service. Our concept is to have a relationship of transparency and trust with our customers, using all our know-how in order to guarantee tranquility, satisfaction and fair prices.</b></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- second slide -->
                        <div class="carousel-item">
                            <div class="container">
                                <div class="carousel-caption relative">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="creative">
                                                <div class="auto_text">
                                                    <h1>WHAT <br>WE DO?</h1>
                                                    <p style="font-size: 18px;"><b>We do various types of services from complete mechanical repair (engine, brakes, battery, alignment and balancing, etc.), painting, bodywork, electrical system, air conditioning installation and maintenance, and much more.</b></p>
                                                    <a class="read_more" href="#services">Services</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- controls -->
                    <a class="carousel-control-prev" href="#banner1" role="button" data-slide="prev">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#banner1" role="button" data-slide="next">
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end banner -->
<!-- services -->
<div class="services" id="services">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage text_align_left">
                    <h2 name="services" id="services"><img src="images/heading.png" alt="#" />Our Services</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div id="ho_heal" class="our_class text_align_center">
                    <i class="d_no"><img src="images/cho3.3.png" alt="#" /></i>
                    <i class="d_bo"><img src="images/cho3.png" alt="#" /></i>
                    <h3>AIR CONDITIONING</h3>
                    <p>Installation and maintenance.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mar_top90">
                <div id="ho_heal" class="our_class text_align_center">
                    <i class="d_no"><img src="images/cho2.png" alt="#" /></i>
                    <i class="d_bo"><img src="images/cho2.2.png" alt="#" /></i>
                    <h3>PAINTING AND BODYWORK</h3>
                    <p>Knock, dent and scratch repairs, mini paint and full paint.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div id="ho_heal" class="our_class text_align_center">
                    <i class="d_no"><img src="images/cho4.png" alt="#" /></i>
                    <i class="d_bo"><img src="images/cho4.4.png" alt="#" /></i>
                    <h3>FULL MECHANICAL REPAIR</h3>
                    <p>Maintenance of light vehicles, general review, oil and filter changes, tire alignment and balancing, transmission systems, changing shock absorbers and brakes, etc.</p>
                </div>
            </div>
            <div  class="col-lg-3 col-md-6 mar_top90">
                <div id="ho_heal" class="our_class text_align_center">
                    <i class="d_no"><img src="images/cho1.png" alt="#" /></i>
                    <i class="d_bo"><img src="images/cho1.1.png" alt="#" /></i>
                    <h3>ELECTRICAL SYSTEM</h3>
                    <p>Installation and maintenance of lighting and complete electrical system.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end services -->
<!-- customers -->
<div class="customers">
    <div class="clients_bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="titlepage text_align_center">
                        <h2><img src="images/heading.png" alt="#" />What Our Customers Says</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- start slider section -->
    <div id="myCarousel" class="carousel slide clients_banner" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="carousel-caption tetxs">
                        <div class="row d_flex">
                            <div class="col-md-6">
                                <div class="custom">
                                    <div class="clint">
                                        <i><img src="images/alceu.png" alt="#" style="width: 100px; height: 100px"/></i>
                                        <h4>Alceu Valença</h4>
                                    </div>
                                    <p>I recommend RepairShop with my eyes closed. They have excellent mechanics, fair prices and fast service. </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="custom">
                                    <div class="clint">
                                        <i><img src="images/nando.png" alt="#" style="width: 100px; height: 97px"/></i>
                                        <h4>Nando Reis</h4>
                                    </div>
                                    <p>RepaiShop is a cost-benefit reference. Excellent professionals and fair cost. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="carousel-caption tetxs">
                        <div class="row d_flex">
                            <div class="col-md-6">
                                <div class="custom">
                                    <div class="clint">
                                        <i><img src="images/debora.png" alt="#" style="width: 95px; height: 100px"/></i>
                                        <h4>Débora Avelar</h4>
                                    </div>
                                    <p>I have no words to describe the service that RepairShop did on my car, they left my car like new, it's perfect. </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="custom">
                                    <div class="clint">
                                        <i><img src="images/brad.png" alt="#" style="width: 100px; height: 100px"/></i>
                                        <h4>Brad Pitt</h4>
                                    </div>
                                    <p>I am very satisfied with the services that RepairShop has done on my car. I recommend it for sure! </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="carousel-caption tetxs">
                        <div class="row d_flex">
                            <div class="col-md-6">
                                <div class="custom">
                                    <div class="clint">
                                        <i><img src="images/cris.png" alt="#" style="width: 93px; height: 100px"/></i>
                                        <h4>Cristiano Ronaldo</h4>
                                    </div>
                                    <p>RepairShop is the best repair shop in Portugal. I totally trust their service. </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="custom">
                                    <div class="clint">
                                        <i><img src="images/amelie.png" alt="#" style="width: 128px; height: 125px"/></i>
                                        <h4>Amèlie Poulain</h4>
                                    </div>
                                    <p>RepairShop did an excellent service on my car.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<!-- end customers -->
<!-- contact -->
<div class="contact" id="contact_us">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <div class="titlepage">
                    <h2><img src="images/heading.png" alt="#" />Contact Us</h2>
                </div>
            </div>
        </div>
        <div class="row d_flex">
            <div class="col-md-6">
                <form id="request" class="main_form">
                    <div class="row">
                        <div class="col-md-12">
                            <input class="form_control" placeholder="Name" type="type" name=" Name">
                        </div>
                        <div class="col-md-12">
                            <input class="form_control" placeholder="Email" type="type" name="Phone Number">
                        </div>
                        <div class="col-md-12">
                            <input class="form_control" placeholder="Phone number" type="type" name="Phone Number">
                        </div>
                        <div class="col-md-12">
                            <input class="form_cont" placeholder="Message" type="type" name="message">
                        </div>
                        <div class="col-md-12">
                            <button class="send_btn">Send</button>
                        </div>
                    </div>
                </form>
            </div>
            <br />
            <div class="col-md-6">
                <div class="cont_img">
                    <figure><img src="~/images/contact.png" alt="#" /></figure>
                </div>
            </div>
        </div>
         <br />
        <p style="text-align:center">I authorize Car Academy, Lda to process my personal data for the purpose of processing my order/contact. The information sent may be shared between departments of the company, 
        if necessary for the processing of my request. As the data subject, I have the right of access, the right to rectification, the right to erasure, the right to limit treatment and 
        the right to portability of my personal data. At any time, I have the right to withdraw my consent with future effect. For more information see our Privacy Policy</p>
        <br />
        <br />
    </div>
</div>
<!-- end contact -->
