@model RepairshopWeb.Models.MechanicViewModel
@{
    ViewData["Title"] = "Create";
}

<h1>New Mechanic</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="control-section">
                    <div class="control_wrapper TextBox-control-section">
                        <ejs-textbox asp-for="FirstName" id="firstname" placeholder="First Name" floatLabelType="Auto"></ejs-textbox>
                    </div>
                </div>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="control-section">
                    <div class="control_wrapper TextBox-control-section">
                        <ejs-textbox asp-for="LastName" id="lastname" placeholder="Last Name" floatLabelType="Auto"></ejs-textbox>
                    </div>
                </div>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="control-section">
                    <div class="control_wrapper TextBox-control-section">
                        <ejs-textbox asp-for="Address" id="address" placeholder="Address" floatLabelType="Auto"></ejs-textbox>
                    </div>
                </div>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="control-section">
                    <div class="control_wrapper TextBox-control-section">
                        <ejs-maskedtextbox asp-for="PostalCode" id="postalcode" mask="0000-000" placeholder="Postal Code" floatLabelType="Auto"></ejs-maskedtextbox>
                    </div>
                </div>
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="control-section">
                    <div class="control_wrapper TextBox-control-section">
                        <ejs-maskedtextbox asp-for="Phone" id="phone" mask="000000000" placeholder="Phone" floatLabelType="Auto"></ejs-maskedtextbox>
                    </div>
                </div>
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="control-section">
                    <div class="control_wrapper TextBox-control-section">
                        <ejs-textbox asp-for="Email" id="email" placeholder="E-mail" floatLabelType="Auto"></ejs-textbox>
                    </div>
                </div>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="control-section">
                    <div class="control_wrapper TextBox-control-section">
                        <ejs-maskedtextbox asp-for="Nif" id="nif" mask="000000000" placeholder="Nif" floatLabelType="Auto"></ejs-maskedtextbox>
                    </div>
                </div>
                <span asp-validation-for="Nif" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="control-section">
                    <div class="control_wrapper TextBox-control-section">
                        <ejs-maskedtextbox asp-for="Niss" id="niss" mask="00000000000" placeholder="Niss" floatLabelType="Auto"></ejs-maskedtextbox>
                    </div>
                </div>
                <span asp-validation-for="Niss" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="control-section">
                    <div class="control_wrapper TextBox-control-section">
                        <ejs-textbox asp-for="IdentityDocument" id="identitydocument" placeholder="ID Number" floatLabelType="Auto"></ejs-textbox>
                    </div>
                </div>
                <span asp-validation-for="IdentityDocument" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile"></label>
                <input asp-for="ImageFile" type="file" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary"><i class="fa-solid fa-user-plus"></i></button>
                <a asp-action="Index" class="btn btn-success"><i class="fa-solid fa-angles-left"></i> Back</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
