@model RepairshopWeb.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
}
<br />
<br />
<br />
<br />
<h1 style="text-align: center;"><b>LOGIN</b></h1>
<br />
<div class="row">
    <div class="col-md-4 offset-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <ejs-textbox asp-for="Username" id="username" placeholder="Username" floatLabelType="Auto"></ejs-textbox>
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <ejs-textbox asp-for="Password" id="password" type="password" placeholder="Password" floatLabelType="Auto"></ejs-textbox>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input asp-for="RemenberMe" type="checkbox" class="form-check-input" />
                    <label asp-for="RemenberMe" class="form-check-label">Remember Me?</label>
                </div>
                <span asp-validation-for="RemenberMe" class="text-warning"></span>
            </div>
            <div class="form-group">
                <center>
                    <input type="submit" value="Login" class="btn btn-success" style="width:250px;" />
                    <br />
                    <a asp-area="" asp-controller="Account" asp-action="RecoverPass" class="btn btn-link">Forgot your password?</a>
                    <a asp-area="" asp-controller="Account" asp-action="Register" class="btn btn-link"> Register new account</a>
                </center>
                <br />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}