@model RepairshopWeb.Models.RegisterNewUserViewModel

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />
<br />
<h1 style="text-align: center;"><b>REGISTER NEW ACCOUNT</b></h1>
<br />
<div class="row">
    <div class="col-md-4 offset-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <div class="control-section">
                    <div class="control_wrapper TextBox-control-section">
                        <ejs-textbox asp-for="FirstName" id="firstname" placeholder="First Name" floatLabelType="Auto"></ejs-textbox>
                    </div>
                </div>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="control-section">
                    <div class="control_wrapper TextBox-control-section">
                        <ejs-textbox asp-for="LastName" id="lastname" placeholder="Last Name" floatLabelType="Auto"></ejs-textbox>
                    </div>
                </div>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="control-section">
                    <div class="control_wrapper TextBox-control-section">
                        <ejs-textbox asp-for="UserName" id="username" placeholder="Username" floatLabelType="Auto"></ejs-textbox>
                    </div>
                </div>
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="control-section">
                    <div class="control_wrapper TextBox-control-section">
                        <ejs-textbox asp-for="Password" id="password" type="password" placeholder="Password" floatLabelType="Auto"></ejs-textbox>
                    </div>
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="control-section">
                    <div class="control_wrapper TextBox-control-section">
                        <ejs-textbox asp-for="ConfirmPassword" id="confirmpassword" type="password" placeholder="Confirm Password" floatLabelType="Auto"></ejs-textbox>
                    </div>
                </div>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Role" class="control-label" style="color: black; font-family: Arial; font-size: small"></label>
                @{
                    var roles = new string[] { "Admin", "Client", " Receptionist", "Mechanic" };
                }
                <ejs-combobox asp-for="Role" id="role" dataSource="roles"></ejs-combobox>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" style="color: black; font-family: Arial; font-size: small"></label>
                <input asp-for="ImageFile" type="file" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" data-toggle="tooltip" title="Save"><i class="fa-regular fa-floppy-disk"></i></button>
                <a asp-controller="Account" asp-action="Login" class="btn btn-success"><i class="fa-solid fa-angles-left"></i> Back</a>
            </div>
        </form>
        <div class="text-success">
            <p style="color: red; font-family: Arial; font-size: medium; text-align:center">
                @ViewBag.Message
            </p>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }