@model RepairshopWeb.Models.RegisterNewUserViewModel

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<br />
<br />
<h1 style="text-align: center;"><b>REGISTER NEW USER ACCOUNT</b></h1>
<br />
<div class="row">
    <div class="col-md-4 offset-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <div class="control-section">
                    <div class="control_wrapper TextBox-control-section">
                        <ejs-textbox asp-for="FirstName" id="firstname" placeholder="First Name" floatLabelType="Auto"></ejs-textbox>
                    </div>
                </div>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <div class="control-section">
                    <div class="control_wrapper TextBox-control-section">
                        <ejs-textbox asp-for="LastName" id="lastname" placeholder="Last Name" floatLabelType="Auto"></ejs-textbox>
                    </div>
                </div>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <div class="control-section">
                    <div class="control_wrapper TextBox-control-section">
                        <ejs-textbox asp-for="UserName" id="username" placeholder="E-mail" floatLabelType="Auto"></ejs-textbox>
                    </div>
                </div>
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <div class="control-section">
                    <div class="control_wrapper TextBox-control-section">
                        <ejs-textbox asp-for="Password" id="password" type="password" placeholder="Password" floatLabelType="Auto"></ejs-textbox>
                    </div>
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <div class="control-section">
                    <div class="control_wrapper TextBox-control-section">
                        <ejs-textbox asp-for="ConfirmPassword" id="confirmpassword" type="password" placeholder="Confirm Password" floatLabelType="Auto"></ejs-textbox>
                    </div>
                </div>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Role" class="control-label" style="font-family: Arial; font-size:small;"></label>
                @{
                    var roles = new string[] { "ADMIN", "CLIENT", "RECEPTIONIST", "MECHANIC" };
                }
                <ejs-combobox asp-for="Role" id="role" dataSource="roles"></ejs-combobox>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <div class="control-section">
                    <div class="control_wrapper TextBox-control-section">
                        <label asp-for="IsClient" style="font-family: Arial; font-size: small;"> Is a client?</label> <br />
                        <input asp-for="IsClient" type="checkbox"/>
                    </div>
                </div>
            </div>
            <br />
            <div class="form-group">
                <button type="submit" class="btn btn-primary" data-toggle="tooltip" title="Save"><i class="fa-regular fa-floppy-disk"></i></button>
            </div>
        </form>
        <br />
        <div class="text-success">
            <p style="color: red; font-family: Arial; font-size: medium; text-align:center">
                @ViewBag.Message
            </p>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }