@model RepairshopWeb.Data.Entities.Vehicle

@{
    ViewData["Title"] = "Create new vehicle";
}

<h1>New Vehicle</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="control-section">
                    <div class="control_wrapper TextBox-control-section">
                        <ejs-maskedtextbox asp-for="LicensePlate" id="licenseplate" mask="00-AA-00" placeholder="License Plate" floatLabelType="Auto"></ejs-maskedtextbox>
                    </div>
                </div>
                <span asp-validation-for="LicensePlate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientId" class="control-label"></label>
                <select asp-for="ClientId" class ="form-control" asp-items="ViewBag.ClientId"></select>
                <span asp-validation-for="ClientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="control-section">
                    <div class="control_wrapper TextBox-control-section">
                        <ejs-textbox asp-for="Brand" id="brand" placeholder="Brand" floatLabelType="Auto"></ejs-textbox>
                    </div>
                </div>
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="control-section">
                    <div class="control_wrapper TextBox-control-section">
                        <ejs-textbox asp-for="VehicleModel" id="vehiclemodel" placeholder="Model" floatLabelType="Auto"></ejs-textbox>
                    </div>
                </div>
                <span asp-validation-for="VehicleModel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                @{var categories = new string[] { "Car", "Motorcycle", "Truck", "Other"};}
                <ejs-combobox asp-for="Category" id="category" dataSource="categories"></ejs-combobox>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                @{var colors = new string[] { "Black", "Blue", "Red", "White", "Grey", "Silver", "Green", "Yellow"};}
                <ejs-combobox asp-for="Color" id="color" dataSource="colors"></ejs-combobox>
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="control-section">
                    <div class="control_wrapper TextBox-control-section">
                        <ejs-maskedtextbox asp-for="Year" id="year" mask="0000" placeholder="Year" floatLabelType="Auto"></ejs-maskedtextbox>
                    </div>
                </div>
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary"><i class="fa-solid fa-user-plus"></i></button>
                <a asp-action="Index" class="btn btn-success"><i class="fa-solid fa-angles-left"></i> Back</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
